.footer {
    position: relative;
    display: block;
    justify-content: center;
    align-content: center;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
    background: rgb(255, 255, 255);
    background: #ff6d00;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    padding-left: 10px;
    padding-bottom: 100px;
    height: 500px;
    margin-bottom: 0px;
}

.col-md-2 {
    flex: 0 0 auto;
    width: 24.666667%;
}

.row {
    width: auto;
}

.facebook:hover span,
.facebook:hover .tooltip,
.facebook:hover .tooltip:before {
    background: #385999;
    left: 16%;
}

.instagram:hover span,
.instagram:hover .tooltip,
.instagram:hover .tooltip:before {
    background: #e1306c;
    left: 30%;
}

.twitter:hover span,
.twitter:hover .tooltip,
.twitter:hover .tooltip:before {
    background: #46C1F6;
    left: 47%;
}

.google:hover span,
.google:hover .tooltip,
.google:hover .tooltip:before {
    background: #4885ed;
    left: 60%;

}

.icon .fa.fa-facebook-f::before {
    margin-left: 13px;
}

.icon .fa.fa-instagram::before {
    padding-left: 8px;
}

.icon .fa.fa-twitter::before {
    padding-left: 8px;
}

.icon .fa.fa-youtube-play::before {
    padding-left: 8px;
}

.icon .fa.fa-google::before {
    padding-left: 8px;
}


.wrapper .button {
    display: inline-flex;
    text-decoration: none;
    gap: 25px;
    height: 50px;
    width: 50px;
    margin-top: 30px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: rgb(255, 255, 255);
    background: linear-gradient(36deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 209, 129, 0.819765406162465) 58%);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.wrapper .button:hover {
    width: 200px;
    background-color: #ffffff;
}

.wrapper .button .icon {
    display: inline-block;
    justify-content: center;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 70px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
    background: #4400ff;
    padding-right: 15px;
}

.wrapper .button:nth-child(2):hover .icon {
    background: rgb(64, 93, 230);
    background: linear-gradient(85deg,
            rgba(64, 93, 230, 1) 0%,
            rgba(131, 58, 180, 1) 20%,
            rgba(253, 29, 29, 1) 50%,
            rgba(252, 176, 69, 1) 90%,
            rgba(255, 220, 128, 1) 100%);
    padding-right: 19.5px;
}

.wrapper .button:nth-child(3):hover .icon {
    background: #1da1f2;
    padding-right: 10px;
}

.wrapper .button:nth-child(4):hover .icon {
    background: #fc0303;
    padding-right: 10px;
}

.wrapper .button:nth-child(5):hover .icon {
    background: rgb(64, 93, 230);
    background: linear-gradient(85deg,

            rgb(35, 189, 14) 15%,
            rgb(29, 70, 253) 50%,
            rgb(226, 41, 17) 70%,
            rgb(255, 251, 0) 100%);
    padding-right: 19.5px;
}

.wrapper .button .icon i {
    font-size: 2px;
    line-height: 53px;

}

.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    margin-left: 5px;
}

.container {
    margin: auto;
    width: 100%;
}

@import url(//fonts.googleapis.com/css?family=Lato:300:400);

.footheader {
    position: relative;
    text-align: center;
    background-image: linear-gradient(to right top,
            #cc7833,
            #c27c2d,
            #ca7a39,
            #cf7a18,
            #f59f3d);
    color: white;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button.btn {
    border-color: #ffd181;
    border-radius: 10px;
    color: #fff;
}

button.btn:hover {
    border-color: #ffd181;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    background-color: #ff6d00;
    letter-spacing: 1px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}