* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }


  /* NAVBAR START */
  .navbar-nav {
    gap: 20px;
  }

  .nav-item .nav-link {
    color: white;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 4px;
  }

  .nav-item a:hover {
    background: #ff6d00;
    border-radius: 5px;
    transition: 0.0s;
    color: white;
  }

  .navbar-toggler-icon {

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 209, 129, 1429' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .navbar-light .navbar-toggler {
  box-shadow: none;
  }

  .navbar-toggler {
  border-color: black;
  }


  #button {
    width: 170px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #ffd181;    
    background: transparent;
    color: white;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 3px;
  }

  .signbtn {
    background-color: #FF6d00;
  }

  #button:hover {
    font-weight: bold;
    background-color: #dd6d00;
}

  .btn1:hover {
    font-weight: bold;
    background-color: #dd6d00;
  }

  #header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000;
    background: black;
    
  }

  #header.sticky {
    background: black;
  }

  @media only screen and (max-width: 991px) {
    #header {
      background: black;
    }
  }

  /* NAVBAR END */


  .navigation {
    display: flex;
    justify-content: center;
    height: 130px;
    column-gap: 20px;
  }

  .banner-hero {
    position: relative;
    min-height: 60vh;
    width: 100%;
    max-width: unset;
    background: linear-gradient(0deg, rgb(0 0 0 / 30%), #ff6d00), url(../images/bannerbg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    z-index: -1;
  }

  .banner-content-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .banner-hero h1 {
    color: #ffD181;
    font-size: 4em;
    text-align: center;
  }

  .banner-hero:hover {
    color: #ffD181;
  }

  .banner-hero h2 {
    text-align: center;
    color: #ffD181;
    font-weight: 700;
  }

  .content-body-cont {
    display: flex;
    justify-content: center;
  }

  .card-img-top {
    height: 200px;

  }

  .btn {
    background: rgb(227, 151, 93);
    background: linear-gradient(180deg, rgba(255, 109, 0, 1) 0%, rgba(255, 109, 0, 1) 35%);
    border: solid #ff6d00;
    color: #ffD181;

  }

  .card {
    border: 2px solid #ff6d00;
    transition: all ease .2s;
  }

  h2 {

    text-align: center;
    margin-bottom: 15px;
    margin-top: 30px;
  }

  .accordion-item1 {
    background-image: url(../images/bannerbg2.jpg);
    background-position: center;
    background-size: cover;
  }

  a.btn.btn-primary {
    display: grid;
  }

  a.btn.btn-primary {
    transition: opacity .4s ease-in-out;
    transition: color .3s ease-in-out;
    transition: all ease .2s;
  }

  .card:hover {
    transform: translateY(-15px)
  }

  .owl-carousel {
    display: flex;
    justify-content: space-between;
  }

  .accordion-item {
    width: 1600px;
    padding-top: 10px;
    background: rgb(203, 201, 196);
    background: radial-gradient(circle, rgba(203, 201, 196, 0.7844887955182073) 14%, rgba(203, 201, 196, 0.2102591036414566) 74%);
  }

  body {
    background: rgb(203, 201, 196);
    background: radial-gradient(circle, rgba(203, 201, 196, 0.7844887955182073) 14%, rgba(203, 201, 196, 0.2102591036414566) 74%);
  }

  .accordion-button {
    background: rgb(203, 201, 196);
    margin-left: 10px;
  }

  .owl-wrapper {
    padding: 10px;
    display: flex;
    left: -25px;
  }

  .btn {
    opacity: 0;
  }

  .card:hover .btn {
    opacity: 1;

  }

  .card-body {
    background: rgb(100, 104, 105);
    background: linear-gradient(0deg, rgba(100, 104, 105, 0.3895308123249299) 0%, rgba(245, 199, 95, 0.47916666666666663) 100%);
  }

  .btn:hover {
    border: 1px solid black;
  }

  .accordion-button {
    border-radius: 5px;
  }

  .accordion-item {
    border-radius: 5px;
  }
  

  /* footer */

  .footer {
          position: relative;
          display: block;
          justify-content: center;
          align-content: center;
          background-position: center;
          background-repeat: no-repeat;
          bottom: 0;
          /* background: rgb(255, 255, 255);
          background: #ff6d00; */
          background: rgb(9,9,9);
          background: linear-gradient(180deg, rgba(9,9,9,1) 0%, rgba(226,157,110,1) 50%, rgba(255,109,0,1) 100%);
          color: #f1f1f1;
          width: 100%;
          padding: 20px;
          padding-left: 10px;
          padding-bottom: 100px;
          height: 500px;
          margin-bottom: 0px;
      }

      .col-md-2 {
          flex: 0 0 auto;
          width: 24.666667%;
      }

      .row {
          width: auto;
      }

      .facebook:hover span,
      .facebook:hover .tooltip,
      .facebook:hover .tooltip:before {
          background: #385999;
          left: 16%;
      }

      .instagram:hover span,
      .instagram:hover .tooltip,
      .instagram:hover .tooltip:before {
          background: #e1306c;
          left: 30%;
      }

      .twitter:hover span,
      .twitter:hover .tooltip,
      .twitter:hover .tooltip:before {
          background: #46C1F6;
          left: 47%;
      }

      .google:hover span,
      .google:hover .tooltip,
      .google:hover .tooltip:before {
          background: #4885ed;
          left: 60%;

      }

      .icon .fa.fa-facebook-f::before {
          margin-left: 13px;
      }

      .icon .fa.fa-instagram::before {
          padding-left: 8px;
      }

      .icon .fa.fa-twitter::before {
          padding-left: 8px;
      }

      .icon .fa.fa-youtube-play::before {
          padding-left: 8px;
      }

      .icon .fa.fa-google::before {
          padding-left: 8px;
      }


      .wrapper .button {
          display: inline-flex;
          text-decoration: none;
          gap: 25px;
          height: 50px;
          width: 50px;
          margin-top: 30px;
          float: left;
          margin: 0 5px;
          overflow: hidden;
          background: rgb(255, 255, 255);
          background: linear-gradient(36deg,
                  rgba(255, 255, 255, 1) 0%,
                  rgba(255, 209, 129, 0.819765406162465) 58%);
          border-radius: 50px;
          cursor: pointer;
          box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1);
          transition: all 0.3s ease-out;
      }

      .wrapper .button:hover {
          width: 200px;
          background-color: #ffffff;
      }

      .wrapper .button .icon {
          display: inline-block;
          justify-content: center;
          height: 50px;
          width: 50px;
          text-align: center;
          border-radius: 70px;
          line-height: 60px;
          transition: all 0.3s ease-out;
      }

      .wrapper .button:nth-child(1):hover .icon {
          background: #4400ff;
          padding-right: 15px;
      }

      .wrapper .button:nth-child(2):hover .icon {
          background: rgb(64, 93, 230);
          background: linear-gradient(85deg,
                  rgba(64, 93, 230, 1) 0%,
                  rgba(131, 58, 180, 1) 20%,
                  rgba(253, 29, 29, 1) 50%,
                  rgba(252, 176, 69, 1) 90%,
                  rgba(255, 220, 128, 1) 100%);
          padding-right: 19.5px;
      }

      .wrapper .button:nth-child(3):hover .icon {
          background: #1da1f2;
          padding-right: 10px;
      }

      .wrapper .button:nth-child(4):hover .icon {
          background: #fc0303;
          padding-right: 10px;
      }

      .wrapper .button:nth-child(5):hover .icon {
          background: rgb(64, 93, 230);
          background: linear-gradient(85deg,

                  rgb(35, 189, 14) 15%,
                  rgb(29, 70, 253) 50%,
                  rgb(226, 41, 17) 70%,
                  rgb(255, 251, 0) 100%);
          padding-right: 19.5px;
      }

      .wrapper .button .icon i {
          font-size: 2px;
          line-height: 53px;

      }

      .wrapper .button span {
          font-size: 20px;
          font-weight: 500;
          line-height: 50px;
          margin-left: 5px;
      }

      .container {
          margin: auto;
          width: 100%;
      }

      @import url(//fonts.googleapis.com/css?family=Lato:300:400);

      .footheader {
          position: relative;
          text-align: center;
          background-image: linear-gradient(to right top,
                  #cc7833,
                  #c27c2d,
                  #ca7a39,
                  #cf7a18,
                  #f59f3d);
          color: white;
      }

      .flex {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
      }

      button.btnf {
          border-color: #ffd181;
          border-radius: 10px;
          color: #fff;
      }

      button.btnf:hover {
          border-color: #ffd181;
          border-radius: 10px;
          color: #fff;
          font-weight: bold;
          background-color: #ff6d00;
          letter-spacing: 1px;
      }

      .content {
          position: relative;
          height: 20vh;
          text-align: center;
          background-color: white;
      }