* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgba(221, 109, 0, 0.5634628851540616);
}

/* NAVBAR START */
.navbar-nav {
    gap: 20px;
}

.nav-item .nav-link {
    color: white;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 4px;
}

.nav-item a:hover {
    background-color: #ff6d00;
    border-radius: 5px;
    transition: 0s;
    color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 209, 129, 1429' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    box-shadow: none;
}

.navbar-toggler {
    border-color: transparent;
}

#button {
    width: 170px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #ffd181;    
    background: transparent;
    color: white;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 3px;
}

#button:hover {
    font-weight: bold;
    background-color: #dd6d00;
}

.btn {
    background-color: #ff6d00;
}

.btn1 {
    color: white;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 3px;
}

.btn1:hover {
    font-weight: bold;
    background-color: #dd6d00;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000;
}

#header.sticky {
    background: black;
}

@media only screen and (max-width: 991px) {
    #header {
        background: black;
    }
}

/* NAVBAR END */


/* BODY START */
.container {
    width: 100%;
    /* padding: 0rem 1rem 0rem 1rem; */
    padding: 0px 1px 0px 1px;
}

.article {
    display: inline-block;
    max-width: 85rem;
    margin-top: 5%;
    background: whitesmoke;
    padding: 3%;
}

.terms {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100wv;
    min-width: 20rem;
    height: 120vh;
}

h6 {
    border-left: 5px solid #ff6d00;
    padding: 5px;
}

.header {
    text-align: center;
}

.header h1 {
    font-size: clamp(1rem, 1rem + 10vw, 4.375rem);
    color: white;
    font-weight: 600;
    width: 100%;
    margin-top: 170px;
}

/* BODY END */

/* FOOTER START */
.footer {
    position: relative;
    display: block;
    justify-content: center;
    align-content: center;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
    /* background: rgb(255, 255, 255);
    background: #ff6d00; */
    background: rgb(9,9,9);
    background: linear-gradient(180deg, rgba(9,9,9,1) 0%, rgba(226,157,110,1) 50%, rgba(255,109,0,1) 100%);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    padding-left: 10px;
    padding-bottom: 100px;
    height: 500px;
    margin-bottom: 0px;
}

.col-md-2 {
    flex: 0 0 auto;
    width: 24.666667%;
}

.row {
    width: auto;
}

.facebook:hover span,
.facebook:hover .tooltip,
.facebook:hover .tooltip:before {
    background: #385999;
    left: 16%;
}

.instagram:hover span,
.instagram:hover .tooltip,
.instagram:hover .tooltip:before {
    background: #e1306c;
    left: 30%;
}

.twitter:hover span,
.twitter:hover .tooltip,
.twitter:hover .tooltip:before {
    background: #46c1f6;
    left: 47%;
}

.google:hover span,
.google:hover .tooltip,
.google:hover .tooltip:before {
    background: #4885ed;
    left: 60%;
}

.icon .fa.fa-facebook-f::before {
    margin-left: 13px;
}

.icon .fa.fa-instagram::before {
    padding-left: 8px;
}

.icon .fa.fa-twitter::before {
    padding-left: 8px;
}

.icon .fa.fa-youtube-play::before {
    padding-left: 8px;
}

.icon .fa.fa-google::before {
    padding-left: 8px;
}

.wrapper .button {
    display: inline-flex;
    text-decoration: none;
    gap: 25px;
    height: 50px;
    width: 50px;
    margin-top: 30px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: rgb(255, 255, 255);
    background: linear-gradient(
        36deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 209, 129, 0.819765406162465) 58%
    );
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.wrapper .button:hover {
    width: 200px;
    background-color: #ffffff;
}

.wrapper .button .icon {
    display: inline-block;
    justify-content: center;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 70px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
    background: #4400ff;
    padding-right: 15px;
}

.wrapper .button:nth-child(2):hover .icon {
    background: rgb(64, 93, 230);
    background: linear-gradient(
        85deg,
        rgba(64, 93, 230, 1) 0%,
        rgba(131, 58, 180, 1) 20%,
        rgba(253, 29, 29, 1) 50%,
        rgba(252, 176, 69, 1) 90%,
        rgba(255, 220, 128, 1) 100%
    );
    padding-right: 19.5px;
}

.wrapper .button:nth-child(3):hover .icon {
    background: #1da1f2;
    padding-right: 10px;
}

.wrapper .button:nth-child(4):hover .icon {
    background: #fc0303;
    padding-right: 10px;
}

.wrapper .button:nth-child(5):hover .icon {
    background: rgb(64, 93, 230);
    background: linear-gradient(
        85deg,
        rgb(35, 189, 14) 15%,
        rgb(29, 70, 253) 50%,
        rgb(226, 41, 17) 70%,
        rgb(255, 251, 0) 100%
    );
    padding-right: 19.5px;
}

.wrapper .button .icon i {
    font-size: 2px;
    line-height: 53px;
}

.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    margin-left: 5px;
}

.container {
    margin: auto;
    width: 100%;
}

@import url(//fonts.googleapis.com/css?family=Lato:300:400);

.footheader {
    position: relative;
    text-align: center;
    background-image: linear-gradient(
        to right top,
        #cc7833,
        #c27c2d,
        #ca7a39,
        #cf7a18,
        #f59f3d
    );
    color: white;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button.btn {
    border-color: #ffd181;
    border-radius: 10px;
    color: #fff;
}

button.btn:hover {
    border-color: #ffd181;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    background-color: #ff6d00;
    letter-spacing: 1px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}
